.container {
    margin-top: 20px;
}
.row {
    display: flex;
    gap: 20px;
}
#add {
    padding: 20px;
    background-color: rgba(2,150,150,0.3);
    border-radius: 15px;
    border: 1px solid #ccc;
    height: 300px;
    overflow-y: auto;
    flex: 1;
}
#todos {
    padding: 20px;
    flex: 1;
}
#todos p {
    width: 100%;
    padding: 20px;
    background-color: rgba(204, 136, 220, 0.3);
    border-radius: 15px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    position: relative;
    white-space: normal;
    word-wrap: break-word;
}
#todos p:hover {
    background-color: rgba(204, 136, 220, 1);
}
